<?xml version="1.0"?>
<robot name="object">
 <link name="link">
    <visual>
      <geometry>
        <mesh filename="beautiful_city.obj"/>
      </geometry>
      <material name="material">
        <texture filename="beautiful_city.mtl"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="beautiful_city.obj"/>
      </geometry>
    </collision>
 </link>
</robot>
